
.card {
	background-color: red;
	padding: 6px;
}

.card > div {

	background-color: blue;
	margin-top: 6px;
	
}

.title{
	background-color: blue;
	margin-top: 0;
	margin-bottom: 0px;
}

.button-container{
	margin-bottom: 0;
	text-align: center;
	padding: 6px;
}

button {
	display: block;
	margin: auto;
	padding: 6px;
}
